/* @import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap'); */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=PT+Mono&display=swap");


body {
  margin: 0;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #faf7f2;
  line-height: 1.6;
}

html,
body {
  overflow-x: hidden;
}

